* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: #fdd9b5;
}

body {
  background-image: url('https://get.wallhere.com/photo/landscape-forest-lake-water-nature-reflection-grass-sky-river-national-park-valley-wilderness-stream-Bank-mount-scenery-nature-reserve-tree-mountain-watercourse-vegetation-creek-tarn-1920x1080-px-highland-computer-wallpaper-mountainous-landforms-biome-hill-station-old-growth-forest-tropical-and-subtropical-coniferous-forests-riparian-zone-fluvial-landforms-of-streams-792177.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fdd9b5;
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  /*рамка под ввод*/
  flex: 1 1 0%;
  background: #474a51;
  color: #fdd9b5; /*Цвет текста при вводе*/
  padding: 1rem;
  border-radius: 2rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  /*Цвет текста в рамке под ввод "Ничего не забыли?"*/
  color: #fdd9b5;
}

#new-task-submit {
  /*Добавить пункт*/
  font-size: 1.25rem;
  font-weight: 850;
  background: #fdd9b5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  color: #fdd9b5;
}

.task-list {
  padding: 1rem;
}

#tasks .task {
  /*рамка под заметку*/
  display: flex;
  justify-content: space-between;
  background-color: #474a51;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  color: white;
}

.task .actions .delete {
  color: white;
}
